html, body {
  font-family: 'Lato', sans-serif;
  display: block;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
#events-header {
  background-color: #1397d5;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#nav-style {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  -moz-box-shadow: 0px 0px;
  -o-box-shadow: 0px 0px;
  -ms-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -moz-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -o-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -ms-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: -moz-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: -o-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: -ms-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  padding: 20px 10px;
  margin: 0 auto;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  width: 30px;
  height: 3px
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-nav li a,
.logo {
  line-height:  50px;
}
ul {
  text-align: center;
  left: 0%;
  right: 0%;
}
.navbar-default .navbar-nav>li>a {
  display: block;
  color: #fff;
  font-size: 1.19em;
  font-weight: bold;
  padding-left: 10px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #1397d5;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}
@media screen and (max-width: 767px) {
.dropdown:hover>.dropdown-menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
}
@media screen and (min-width: 767px) {
.dropdown:hover .dropdown-menu {
  display: block;
  left: -50%;
  right: -50%;
}
}
.navbar-right .dropdown-menu a:hover {
  border-left:5px solid #1397d5;
  color: #1397d5;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.navbar-right .dropdown-menu a:focus {
  color: #8c9597;
  background-color: #fff;
}
.navbar-right .dropdown-menu li {
  position: relative;
  display: block;
  float: left;
  width: 100%;
}
.navbar-right .dropdown-menu a {
  display: block;
  color: #8c9597;
}
/*fullCalendar styling*/
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
  border-color: #545454;
}
.fc-day-number {
  color: #545454;
}
.fc-unthemed .fc-popover {
  background-color: #fff;
}
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header,
.fc-unthemed .fc-list-heading td {
  background: ;
}
.fc-unthemed .fc-popover .fc-header .fc-close {
  color: #666;
}
.fc-unthemed td.fc-today {
  background: #D67300;
  opacity: 1;
}
.fc-unthemed .fc-disabled-day {
  background: #d7d7d7;
  opacity: .3;
}
.fc-head {
  background-color: #1397d5;
}
.fc-toolbar.fc-footer-toolbar {
  display: none;
}
.fc-day-grid.fc-unselectable {
  background-color: #63B8E1;
}
tr {
  color: #545454;
}
#events-calendar h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: #fff;
}
#events-calendar {
  background: url(programming.png) fixed;
  width: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 14px;
  padding-bottom: 70px;
}
.event-text {
  background-color: #1397d5;
  color: #545454;
  font-size: .75em;
  padding: 20px 5px;
}
.event-text:hover {
  color: #fff;
  background-color: #337ab7;
}
#calendar {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 700px;
  margin: 0 auto;
}
#when-where {
  background: url(cement.jpg);
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 60px;
}
.when-where-title h1 {
  text-align: center;
  color: #545454;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 50px;
}
.when-where-txt p {
  text-align: center;
  color: #8c9597;
  font-size: 1.13em;
  font-weight: 400;
  line-height: 26px;
}
#footer {
  text-align: center;
  background-color: #1397d5;
  color: white;
  padding: 30px 0px;
}
#footer p {
  margin: 0px;
}